.col-9 img {
    object-fit: fill;
    max-height: 500px;
    min-height: 500px;
    width: 100%;
    object-fit: cover;
}

.col-3 img {
    object-fit: cover;
    height: 100px;
}

.col-3 img:not(.active) {
    opacity: 0.3;
}

.my_position_top {
    top: 3%;
    right: 10%;
}

.my_position_bottom {
    bottom: 3%;
    right: 10%;
}

.title_position {
    top: 5%;
    left: 2%;
}

.p_position {
    top: 15%;
    left: 2%;
}

h2,
p {
    color: white;
    max-width: 600px;
}

.my_shadow {
    -webkit-box-shadow: 14px 15px 34px 15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 14px 15px 34px 15px rgba(0, 0, 0, 0.75);
    box-shadow: 14px 15px 34px 15px rgba(0, 0, 0, 0.75);
}

.active {
    border: 5px solid rgba(188, 55, 214, 0.967);
}