.col-9 img{
    object-fit: fill;
    max-height: 500px;
    width: 100%;
    object-fit: cover;
}

.col-3 img{
    object-fit: cover;
    height: 100px;
}

.my_position_top{
    top: 3%;
    right: 10%;
}

.my_position_bottom{
    bottom: 3%;
    right: 10%;
}

.title_position{
    top: 5%;
    left: 2%;
}

.p_position{
    top: 15%;
    left: 2%;
}

h2, p{
    color: white;
    max-width: 600px;
}